body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg,#ff9a9e,#fad0c4);
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

.contenedor{
    text-align:center;
    background: rgba(255,255,255,0.15);
    padding:40px;
    border-radius:20px;
    backdrop-filter: blur(10px);
    box-shadow:0 0 30px rgba(0,0,0,0.2);
    animation: aparecer 2s ease;
}

h1{
    font-size:45px;
}

.mensaje{
    font-size:20px;
    margin:20px 0;
}

#contador{
    font-size:28px;
    font-weight:bold;
    margin-top:15px;
}

.firma{
    margin-top:25px;
    font-size:18px;
}

@keyframes aparecer{
    from{opacity:0; transform:translateY(30px);}
    to{opacity:1; transform:translateY(0);}
}

/* corazones */

.corazones::before{
    content:"❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️";
    position:absolute;
    width:100%;
    animation: flotar 15s linear infinite;
    font-size:24px;
}

@keyframes flotar{
    from{transform:translateY(100vh);}
    to{transform:translateY(-10vh);}
}
/* BOTÓN ROMÁNTICO */

.btn-amor{
    margin-top:25px;
    padding:15px 35px;
    font-size:20px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    color:white;
    background: linear-gradient(45deg,#ff4b6e,#ff758c);
    box-shadow:0 5px 20px rgba(255,75,110,0.6);
    transition:0.4s;
    position:relative;
    overflow:hidden;
}

.btn-amor:hover{
    transform:scale(1.1);
    box-shadow:0 8px 30px rgba(255,75,110,0.9);
}

/* brillo animado */

.btn-amor::before{
    content:"";
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.3);
    transform:skewX(-45deg);
    transition:0.6s;
}

.btn-amor:hover::before{
    left:120%;
}